.sara-font {
    font-family: ARBONNIE;
    font-size: 30pt;
    color:#FFA726 !important;
}

.orange {
    color:#FFA726;
}

.white {
    color: #FFF;
}

.navbar-light {
    background: none !important;
}

.nav-link {
    /* color: #FFF !important; */
    color: #333;
}

a.active {
    color: #FFA726 !important;
}

.nav-link:hover {
    color: #FFA726 !important;
}

.fa.fa-navicon, .fa.fa-user {
    color: #FFA726 !important;
}

.account-info, .notifications {
    width: 420px;
    padding-bottom: 0px;
}

p.text-left {
    word-wrap: break-word;
}

a.btn-block {
    border-radius: 0;
}

.account-info a {
    text-decoration: none;
}