@import '../../../assets/css/light-bootstrap-dashboard.css';
/* #wrapper {
  margin-top: 70px;
}
#sidebar-wrapper {
  overflow-y: hidden;
  opacity: 0.9;
  height: 100%;
  transition: all 0.4s ease 0s;
  position: fixed;
  width: 250px;
  z-index: 1;
}

#page-content-wrapper{
  width:100%;
  padding: 15px 15px 15px 250px;
  transition: all 0.4s ease 0s;
  position: absolute;
}

#wrapper.toggled #sidebar-wrapper {
  width: 0px;
}

#wrapper.toggled #page-content-wrapper {
  padding-left: 15px;
} */

