<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#employer-login">Employer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#employee-login">Employee</a>
          </li>
      </ul>
      <!--  -->
      <div class="tab-content">
          
          <div class="tab-pane active" id="employer-login">
            <div class="card">
              <div class="card-header text-center">Employer Login</div>
              <div class="card-body">
                <div class="alert alert-danger text-center" [hidden]="!error">
                    {{error}}
                </div>
                <form #loginForm=ngForm (ngSubmit)="onSubmit()">

                  <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" required [(ngModel)]="form.email">
                        </div>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" required [(ngModel)]="form.password">
                        </div>
                    </div>
                  </div>

                  <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                      <a class="btn btn-link" routerLink="/request-password-reset"> Forgot Password</a>
                    </div>
                  </div>

                </form>

                <div class="or-seperator"><i>or</i></div>
                <p class="text-center">Login with your social media account</p>
                <div class="text-center social-btn">
                  <a (click)="facebook()" class="btn btn-primary text-white"><i class="fa fa-facebook-square"></i>&nbsp; Facebook</a>
                  <a (click)="google()" class="btn btn-danger text-white"><i class="fa fa-google-plus-square"></i>&nbsp; Google</a>
                </div>

              </div>
            </div>
          </div>
        <!--  -->
        <div class="tab-pane" id="employee-login">
          <div class="card">
              <div class="card-header text-center">Employee Login</div>
              <div class="card-body">
                <div class="alert alert-danger text-center" [hidden]="!error">
                    {{error}}
                </div>
                <form #employeeForm=ngForm (ngSubmit)="onEmpSubmit()">
                
                  <div class="row justify-content-center">
                      <div class="col-10">
                          <div class="form-group">
                              <label>Username</label>
                              <input type="text" name="employee_id" class="form-control" id="inputUsername" placeholder="Employee ID..." required autofocus [(ngModel)]="empForm.employee_id">
                          </div>
                      </div>
                    </div>
  
                    <div class="row justify-content-center">
                      <div class="col-10">
                          <div class="form-group">
                              <label>Password</label>
                              <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password" required [(ngModel)]="empForm.password">
                          </div>
                      </div>
                    </div>
      
                  <div class="row justify-content-center">
                    <div class="col-10">
                      <button type="submit" class="btn btn-primary btn-fill form-control" [disabled]="!employeeForm.valid">Login</button>
                    </div>
                  </div>
      
                </form>
    
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>