<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info text-white"><span class="fa fa-user"></span> Profile 
                <div class="dropdown float-right">
                    <button class="btn btn-info dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-gear"></span></button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item" href="#" (click)="showEditForm($event)">Edit</a>
                    </div>
                </div>
            </div>
            <form #updateForm=ngForm (ngSubmit)="onSubmit()">
            <div class="card-body animated fadeIn">
                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 text-center">
                        <img src="{{profile.image}}" class="img-fluid img-circle" alt="avatar">
                        <label class="custom-file" *ngIf="form == true">
                            <input type="file" name="avatar"class="custom-file-input" (change)="onFileSelected($event, $event.target.files)" accept="image/*" [(ngModel)]="profile.avatar">
                            <span class="custom-file-control btn btn-outline-secondary">Update Photo</span>
                        </label>
                        <hr class="my-4">
                    </div>
                    <div class="col-lg-8 col-md-8">
                    
                        <table class="table" *ngIf="form == false">
                            <tbody>
                                <tr>
                                    <td><small> Name: </small></td>
                                    <td>{{profile.name}}</td>
                                </tr>

                                <tr>
                                    <td><small> Address: </small></td>
                                    <td *ngIf="profile.street != null">{{profile.street}}, {{profile.city}}, {{profile.state}}, {{profile.zip}}</td>
                                </tr>
                            
                                <tr>
                                    <td><small> Gender: </small></td>
                                    <td>{{profile.gender}}</td>
                                </tr>

                                <tr>
                                    <td><small> Birth Date: </small></td>
                                    <td>{{profile.birthdate}}</td>
                                </tr>

                                <tr>
                                    <td><small> Phone Number </small></td>
                                    <td>{{profile.contact}}</td>
                                </tr>
                                
                            </tbody>
                        </table>

                        <table class="table" *ngIf="form == true">
                            <tbody>
                                <tr>
                                    <td><small> Name: </small></td>
                                    <td><input type="text" class="form-control" name="name" required [(ngModel)]="profile.name"></td>
                                </tr>

                                <tr>
                                    <td><small> Address: </small></td>
                                    <td>
                                        <input type="text" class="form-control" name="state" placeholder="Street Name" [(ngModel)]="profile.street">
                                        <input type="text" class="form-control" name="city" placeholder="City" [(ngModel)]="profile.city">
                                        <input type="text" class="form-control" name="state" placeholder="State or Province" [(ngModel)]="profile.state">
                                        <input type="text" class="form-control" name="zip" placeholder="Zip Code" [(ngModel)]="profile.zip">
                                    </td>
                                </tr>
                            
                                <tr>
                                    <td><small> Gender: </small></td>
                                    <td><input type="text" class="form-control" name="gender" placeholder="gender" [(ngModel)]="profile.gender"></td>
                                </tr>

                                <tr>
                                    <td><small> Birth Date: </small></td>
                                    <td><input type="date" class="form-control" name="birthdate" placeholder="Birth Date" [(ngModel)]="profile.birthdate"></td>
                                </tr>

                                <tr>
                                    <td><small> Phone Number </small></td>
                                    <td><input type="text" class="form-control" name="contact" placeholder="Contact Number" [(ngModel)]="profile.contact"></td>
                                </tr>

                            </tbody>
                        </table>
                        <div *ngIf="form == true">
                            <button class="btn btn-primary" type="submit" [disabled]="!updateForm.valid">Save</button>
                            <button class="btn btn-outline-secondary" (click)="cancelFormEdit()">Cancel</button>
                        </div>
                    </div>
                   
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info text-white"><span class="fa fa-history"></span> Recent Activities</div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>